<h1>お気に入り</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= link_to favorite.user.name, user_path(favorite.user) %></td>
        <td><%= image_tag favorite.blog.image.url, class:'index_image' %></td>
        <td><%= favorite.blog.content.truncate(20) %></td>
        <td><%= link_to '詳細を見る', blog_path(favorite.blog) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
