html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
}
.container {
  background-color: #fff;
  line-height: 18px;
  min-height: 100%;
  position: relative;
}
header {
 background-color: #add8e6;
 height: 110px;
 font-size: 1.5rem;
}
.header {
  height:70px;
  font-size: 20px;
}
footer {
  width: 100%;
  background-color: #add8e6;
  padding: 20px 0 10px 0;
  margin: auto;
  // position: absolute;
  // bottom: 0;
}
footer p {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}
.index_image {
  max-width: 300px;
  max-height: 300px;
}
.img {
  max-width: 400px;
  max-height: 400px;
}
